---

import {extractFileName} from '../scripts/extractFileName'
import { isRemoteImage } from '../scripts/isRemoteImage'
import { Image } from 'astro:assets'

interface Props{
  src: string | ImageMetadata,
  alt?: string,
  size?: string,
}

let {src, alt = "", size = "default"} = Astro.props;
alt = alt || extractFileName(src);
const isRemote = isRemoteImage(src as string);
---

<div style="text-align: center;">
    {isRemote ?
    <img src={src as string} alt={alt} class={size}/> :
    <Image src={src as ImageMetadata} alt={alt} class={size}/>}
</div>

<style>
img.small {
  max-width: 480;
  max-height: 220;
  object-fit: contain;
}

img.default {
  max-width: 610;
  max-height: 340;
  object-fit: contain;
}

img.large {
  max-width: 910;
  max-height: 640;
  object-fit: contain;
}
</style>