---
interface Props {
  post: CollectionEntry<'posts'>;
}

import type { CollectionEntry } from 'astro:content';
import { extractDateAndSlug } from '../scripts/extractDateAndSlug';
import { isRemoteImage } from '../scripts/isRemoteImage';
import PostTag from './PostTag.astro';
import PostTimestamp from './PostTimestamp.astro';
import { Image } from 'astro:assets'
const { post } = Astro.props as Props;
const {title, description, cover, tags,updateDate} = post.data;
const { pubDate, slug } = extractDateAndSlug(post.id);
---

<article style="display: flex; gap: 1rem; padding: 1rem 0; border-bottom: 1px solid #ddd;">
    {cover && (
        <a href={`/posts/${slug}`}>
            {isRemoteImage(cover as string) ?
            <img src={cover as string} alt={title}/> :
            <Image src={cover as ImageMetadata} alt={title}/>}
        </a>
    )}

    <div style="flex: 1;">
        <h2 class="title">
            <a href={`/posts/${slug}`} style="text-decoration: none; color: inherit;">
                {title}
            </a>
        </h2>

        <p class="description">{description}</p>

        <div class="post-footer">
            <PostTimestamp pubDate={pubDate} updateDate={updateDate}/>
            <span class="separator">|</span>
            <PostTag tags={tags}/>
            <a href={`/posts/${slug}`} class="read-more">Read more →</a>
        </div>
    </div>
</article>

<style is:global>
img{
    max-width: 210px;
    max-height: 160px;
    object-fit:contain;
}

.title{
    margin: 0 0 0.5rem 0;
    font-size: 1.25rem;
}

.description{
    color: #555;
    margin: 0 0 0.5rem 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-footer{
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #888;
    gap: 0.6rem;
}

.separator{

}

.read-more{
    text-decoration: none;
    color: #0070f3;
    margin-left: auto;
    font-weight: bold;
}

@media (max-width: 900px) {
    img{
        max-width: 160px;
        max-height: 110px;
        object-fit:contain;
    }

    .title{
        font-size: 0.9rem;
    }

    .description{
        font-size: 0.8rem;
    }

    .post-footer{
        flex-direction: column;
        align-items: start;
    }

    .separator{
        display: none;
    }

    .read-more{
        font-size: 0.9rem;
    }
}
</style>