---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props{
  pageTitle:string,
  description?:string,
  showTitle?:boolean,
  showSidebar?:boolean,
}

const { pageTitle, description = ".NETの技術メモブログ", showTitle = true, showSidebar = true} = Astro.props;
---

<html lang="ja" title={pageTitle}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- <link rel="stylesheet" href="/prism/vsc-dark-plus.css" /> -->
    <!-- <link rel="stylesheet" href="/prism/material-dark.css" /> -->
    <!-- <link rel="stylesheet" href="/prism/coldark-dark.css" /> -->
    <!-- <link rel="stylesheet" href="/prism/xonokai.css" /> -->
    <meta name="description" content={description}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{pageTitle}</title>
  </head>
  <body class="body">
    <Header />
    <main class="main">
      <div class="container">
        <div class="main-content" style={`flex: 5; padding:15px; min-height: 700px;`}>
          {showTitle && <h1>{pageTitle}</h1>}
          <slot />
        </div>
        {showSidebar && <Sidebar class="sidebar" />}
      </div>
    </main>
    <Footer />

    <!-- <script src="/prism.js" is:inline></script> -->
  </body>
</html>

<style>
.body{
  display: flex;
  flex-direction:  column;
  min-height: 100vh;
  margin: 0;
}

.main{
  flex: 1;
  background-color:#F1FCFD;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  gap: 2rem;
  padding: 2rem 0;
}

.main-content{
  background-color: #ffffff;
}

.sidebar{
  flex: 1;
  background-color: #ffffff;
  padding: 1rem;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  position: static;
  gap:80px;
}

@media (max-width: 900px) {
  .container {
      flex-direction: column;
  }

  .sidebar{
    gap:60px;
  }
}
</style>